#about {
	background: url(/images/about-bg.png) no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 800px;
	height: 100vh;
	// padding: 176px 0 80px 0;
	display: flex;
	align-items: center;
	transition: all 0.3s;

	.container {
		display: flex;
		justify-content: flex-end;
		.slider-wrapper {
			max-width: 430px;
			width: 100%;
			background: rgba(255, 255, 255, 0.7);
			border: 1px solid #787878;
			// backdrop-filter: blur(2px);
			padding: 16px;

			.about-text {
				font-family: $thirdFont;
				font-size: 18px;
				line-height: 1.5;
				color: $black;
				font-weight: 700;
			}

			.slider-controls {
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;

				#next,
				#prev {
					width: 48px;
					height: 12px;
					border: 2px solid $accent3;
					background-color: transparent;
					border-radius: 2px;
					cursor: pointer;

					&.active {
						background-color: $accent3;
					}
				}
			}
		}
	}

	@media screen and (max-width: 768px) {
		background-position-x: -250px;
		.container {
			justify-content: center;
		}
	}
}
