#player {
	z-index: 99;
	position: fixed;
	left: -200px;
	bottom: 50px;
	max-width: 250px;
	width: 100%;
	background-color: $white;
	padding: 8px 16px;
	border-radius: 0 12px 12px 0;
	border: 1px solid $black;
	min-height: 62px;
	transition: 0.3s ease-in-out;

	img {
		position: absolute;
		width: 200px;
		top: -1px;
		transform: translateY(-100%);
	}

	&.active {
		left: 0;

		.player-controls,
		.music-name {
			opacity: 1;
		}
	}

	.player-controls {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		opacity: 0;
		transition: 0.4s;

		.prev,
		.next {
			display: flex;
			cursor: pointer;
		}

		.prev {
			margin-right: 10px;
		}

		.next {
			margin-left: 10px;
		}
	}

	.music-name {
		font-size: 14px;
		font-weight: 300;
		color: $black;
		text-align: center;
		opacity: 0;
		transition: 0.4s;
	}

	.play-pause {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(50%, -50%);
		height: 30px;
		width: 30px;
		border: 2px solid $black;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $white;
		cursor: pointer;
	}

	@media screen and (max-width: 500px) {
		bottom: 20px;
	}
}
