#roadmap {
	position: relative;
	min-height: 600px;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: #c40c0c;

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 1440px;

		.swiper {
			width: 100%;
			overflow: visible;
		}

		.roadmap-card {
			max-width: 400px;
			height: 250px;
			width: 100%;
			perspective: 1000px;
			margin: 0 auto;

			.card-inner {
				position: relative;
				width: 100%;
				height: 100%;
				transition: transform 0.6s;
				transform-style: preserve-3d;

				.card-back,
				.card-front {
					position: absolute;
					width: 100%;
					height: 100%;
					-webkit-backface-visibility: hidden;
					backface-visibility: hidden;
				}

				.card-front {
					z-index: 1;
					cursor: pointer;

					&::after {
						content: attr(data-title);
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						background-color: rgba(0, 0, 0, 0.8);
						border-radius: 4px;
						padding: 4px 10px;
						z-index: 1;
						font-size: 36px;
						font-weight: 700;
						white-space: nowrap;
					}
				}

				.card-back {
					background-color: #e7e6e6;
					color: $black;
					transform: rotateY(180deg);
					overflow: hidden;
					border-radius: 16px;
					padding: 25px 15px;
					font-family: $thirdFont;
					top: -50%;
				}
			}

			&.active .card-inner {
				transform: rotateY(180deg);
			}
		}

		.custom-pagination {
			margin-top: 40px;
			display: flex;
			.swiper-pagination-bullet {
				background-color: rgba(255, 255, 255, 0.5);
				cursor: pointer !important;
				min-height: 12px !important;
				min-width: 12px !important;
				margin: 0 4px;
				transition: all 300ms ease-in-out;
				border-radius: 50%;

				&-active {
					// width: 60px;
					background-color: $white;
				}
			}
		}

		.roadmap-items {
			display: none;
		}
	}

	@media screen and (max-width: 600px) {
		overflow: auto;
		padding: 100px 0;

		.container {
			width: 92%;
			.swiper,
			.custom-pagination {
				display: none;
			}

			.roadmap-items {
				display: grid;
				grid-gap: 20px;
				width: 100%;
				.roadmap-card {
					max-width: 100%;
					height: 210px;
					transition: all 0.9s;
					// overflow: hidden;

					.card-front {
						img {
							height: 100%;
							object-fit: cover;
							border-radius: 16px;
						}
					}

					.card-back {
						transition: all 0.9s;
						top: 0;
					}
				}
			}
		}
	}

	// @media screen and (max-width: 400px) {
	// 	.container {
	// 		.roadmap-items {
	// 			grid-gap: 0;
	// 		}
	// 	}
	// }
}
