@import "./includes/imports";

.custom-swal-popup {
	background-color: #262626 !important;
	color: #fff !important;
	border-radius: 0 !important;
}

.swal2-loader {
	border-color: #ffffff rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0) !important;
}
